<div class="container">
    <style>
        .contain {
            height: 250px;
            border-radius: 25px;
        }
    </style>
    <div class="card" class="contain" style="background-color:white">
        <div class="card-body">
            <div>
                <div class="form-group">
                    <label for="title" style="font-size:20px"><b>Title</b></label>
                    <input type="text" class="form-control" id="title" [(ngModel)] = newTask.title>
                    <div id="emailHelp" class="form-text"><i>Put title of your task</i></div>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="description" style="font-size:20px"><b>Description</b></label>
                    <input type="text" class="form-control" id="description" [(ngModel)] = newTask.description>
                    <div id="emailHelp" class="form-text"><i>Put description of your task</i></div>
                </div>
            </div>
            <style>
                .center {
                  margin: 0;
                  position: absolute;
                  left: 50%;
                  -ms-transform: translate(-50%);
                  transform: translate(-50%);
                }
            </style>
            <div class="center">
                <button (click)="id==''?createTask():updateTask()" class="btn btn-primary" > {{id==''?'Create':'Update'}} </button>
            </div>

        </div>
    </div>

    <br>
    <br>
    <br>
    
    <style>
        .roundBorderUp {
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
        .roundBorderDown {
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
        }
        .grad1 {
            background-color:powderblue; /* For browsers that do not support gradients */
            background-image: linear-gradient(powderblue, white);
        }
    </style>

    <div class="row">
        <div *ngFor = "let t of tasks" class="col-md-3 col-sm-3 col-lg-3">
            <div class="card" class="grad1">
                <body class="roundBorderUp" style="background-color:black;">
                    <div class="card-body" style="color:white">
                        <h5 class="card-title">{{t.title}}</h5>
                        {{t.description}}
                    </div>
                </body>
                <body class="roundBorderDown" style="background-color:black;">
                    <div class="card-body">
                        <a (click)="deleteTask(t._id)" class="card-link" style="color:white" > Delete </a>
                        <a (click)="setUpdate(t)" class="card-link" style="color:white" > Update </a>
                    </div>
                </body>
            </div>
            <br>
        </div>
    </div>
</div>